body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: purple;
    font-family: 'Coiny';
	font-size: 70%;
}

header,
main,
footer {
	background-color: aqua;
	font-size: 1.6em;
}

header {
	padding: 20;
}

header h1 {
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 300%;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}



nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}


img {
	width: 65%;
	max-width: 100%;
}
